/* Initial styling */

main {
  padding: 16px 32px;
}

h1 {
  font-size: 3rem;
}
h2 {
  margin: 1.5rem 0;
  font-size: 2rem;
}

button {
  cursor: pointer;
  background-color: #414141;
  color: #f2f2f2;
  transition: 0.3s all ease;
}
button:hover {
  background-color: #1e1e1e;
}

li {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #333333;
  border: 1px solid rgb(160, 160, 160);
}

form {
  display: flex;
  align-items: center;
}

form * {
  margin-right: 16px;
}

input,
button {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid rgb(160, 160, 160);
}

#search-container {
  margin: 2rem 0;
}

#card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 4rem;
}

.card {
  padding: 2rem 2rem 2rem 1rem;
  background-color: #454545;
  border: solid 1px rgb(208, 208, 208);
  border-radius: 4px;
}

.card h3 {
  font-size: 1.5rem;
}
.card-details {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  text-transform: capitalize;
}
.card-details p {
  /* margin-right:auto; */
  font-size: 1.1rem;
  font-weight: 700;
  color: #dfa831;
}

.detail {
  width: 100%;
  margin-bottom: 1.5rem;
}
